/* 字体库 */
@font-face {
	font-family: "iconfont";
	src: url('../../yunLvLineStyle/fonts/iconfont.eot');/* IE9*/
	src: url('../../yunLvLineStyle/fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../yunLvLineStyle/fonts/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../../yunLvLineStyle/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../../yunLvLineStyle/fonts/iconfont.svg#iconfont') format('svg');/* iOS 4.1- */
	
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "FontAwesome";
	src: url('../../yunLvLineStyle/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../../yunLvLineStyle/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../yunLvLineStyle/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../yunLvLineStyle/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../yunLvLineStyle/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../yunLvLineStyle/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa {
	font-family: "FontAwesome" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
i,span,a {
	display: inline-block;
}
p {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}
body {background-color: #f1f4f8;}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
li>a {
	width: 100%;
	height: 100%;
}
input::-webkit-input-placeholder {
	color: #9da1a5;
}
input:-moz-placeholder {
	color: #9da1a5;
}
input::-moz-placeholder {
	color: #9da1a5;
}
input:-ms-input-placeholder {
	color: #9da1a5;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
	text-align: center;
}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {
	color: #b0b0b0;
	font-size: 22px;
	position: relative;
	top: 2px;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
	color: #6370da;
}
button:active,.btn:active {
	opacity: .8;
}
.color_g1 {color: #3c4854!important;}
.color_grey {color: #8e9293!important;}
.color_orange {color: #f38e33!important;}
.f-12 {font-size: 12px!important;}
.f-14 {font-size: 14px!important;}
.f-16 {font-size: 16px!important;}
.f-18 {font-size: 18px!important;}
.btn {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 6px 12px;
	cursor: pointer;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-clip: padding-box;
}
.btnReset {
	color: #3c4854!important;
	border: 1px solid #dbdbdb;
	background-color: #ffffff!important;
}
.btnxian {
	color: #6370da!important;
	border: 1px solid #6370da;
	background-color: #ffffff!important;
}
.btnNormal {
	color: #ffffff!important;
	border: 1px solid #f38e33;
	background-color: #f38e33!important;
}
.btnNormal2 {
	color: #ffffff!important;
	border: 1px solid #6370da;
	background-color: #6370da!important;
}
.boxShadow {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}
.borderShadow {
	box-shadow: 0 1px 0 0 #f3f3f3;
}
.cashIcon:before {
	font-size: 0.625em;
	font-weight: normal;
	content: "¥";
	margin-right: 2px;
}
.shadeTopOrange {
	background: linear-gradient(#ffac5e, #ed6c18);
	background: -o-linear-gradient(#ffac5e, #ed6c18);
	background: -moz-linear-gradient(#ffac5e, #ed6c18);
	background: -webkit-linear-gradient(#ffac5e, #ed6c18);
}
.shadeAcrossOrange {
	background: linear-gradient(to bottom right,#ffac5e, #ed6c18);
	background: -o-linear-gradient(bottom right,#ffac5e, #ed6c18);
	background: -moz-linear-gradient(bottom right,#ffac5e, #ed6c18);
	background: -webkit-linear-gradient(left top,#ffac5e, #ed6c18);
}
footer.btn-box a.tab-item {
	color: #ffffff;
	width: 30%;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	background-color: #6370da;
}
footer.btn-box a.tab-item>span.iconfont,
footer.btn-box a.tab-item>span.fa {
	font-size: 20px;
	margin-right: 4px;
	line-height: normal;
	vertical-align: middle;
}
.p0_4 {
	padding: 0 4%;
}
.p0 {padding: 0!important;}
.pre_line {/*合并空白符序列，但是保留换行符。*/
	white-space: pre-line;
}
/*单行溢出，禁止换行,省略号形式：*/
.elip {
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.mui-popover.mui-popover-action {
	background-color: #ffffff;
}
.mui-bar {
	box-shadow: none;
	background-color: #ffffff;
}
.mui-bar.mui-bar-nav {
	padding: 0 4%;
	border-radius: 0;
}
/* 搜索框头 */
.search-header {
	padding: 0;
	box-shadow: 0 1px 0 0 #e6e8e7!important;
}
.search-close,.search-start {
	width: 13%;
	padding-left: 1%;
	font-size: 12px;
	text-align: center;
	line-height: 44px;
	color: #3c4854;
}
.search-start {
	padding-right: 1%;
}
.search-header+.mui-content {
	padding: 44px 0 50px;
	margin: 0;
	border-radius: 0px;
	background-color: #ffffff;
}
/* 列表 */
.ulItem li {
	position: relative;
	display: flex;
	color: #545d62;
	font-size: 14px;
	min-height: 38px;
	line-height: 38px;
	padding: 0 3%;
	margin: 0 4%;
	box-shadow: 0 1px 0 0 #eaeaea;
}
.ulItem li.cur {
	color: #606ed8;
}
.ulItem li.cur:after {
	content: "\e750";
	position: absolute;
	top: 50%;
	right: 4%;
	font-size: 14px;
	font-weight: bold;
	font-family: "iconfont";
	transform: translateY(-50%);
}
.ulItem li>span.peopleName {
	padding-left: 10px;
	flex: 1;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ulItem li>span.peoplePhone {
	flex: 2;
}
.selectTravelMemberUl.mui-table-view {
	margin: 0!important;
	border-radius: 0!important;
	background-color: #ffffff;
	box-shadow: 0 0 0 1px #ffffff;
}
.selectTravelMemberUl.mui-table-view li {
	font-size: 14px;
	padding: 9px 4% 9px 50px;
	line-height:20px ;
}
.selectTravelMemberUl.mui-table-view li.mui-table-view-cell:after {
	background-color: #eaeaea!important;
}
.selectTravelMemberUl.mui-table-view li .list-user {
	color: #545d62;
	display: flex;
	text-align: left;
}
.selectTravelMemberUl.mui-table-view li.cur .list-user {
	color: #606ed8;
}
.list-user:before {
	position: absolute;
	left: 20px;
	top: 50%;
	font-family: "FontAwesome";
	display: inline-block;
	float: left;
	width: 20px;
	height: 20px;
	font-size: 1rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.woman-icon:before {
	content: '\f222';
	color: #fd8d8d;
}
.man-icon:before {
	content: '\f221';
	color: #319dff;
}
.selectTravelMemberUl.mui-table-view li.cur .list-user:after {
	content: "\e750";
	position: absolute;
	top: 50%;
	right: 4%;
	font-size: 14px;
	font-weight: bold;
	font-family: "iconfont";
	transform: translateY(-50%);
}
.selectTravelMemberUl.mui-table-view li .list-user>span {
	flex: 1;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.selectTravelMemberUl.mui-table-view li .list-user>font {
	flex: 1.5;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.selectTravelMemberUl.mui-table-view li .list-user>em {
	flex: 2;
}
.mui-bar.mui-bar-nav .mui-icon {
	color: #222222;
	margin: 0;
	width: 24px;
	height: 24px;
	padding: 10px 0;
}
.mui-bar-nav~.mui-content {
	background-color: transparent;
}
.mui-control-item,.mui-tab-item,.letter {
	touch-action: none;
}
/* 数字输入框 */
.mui-numbox {
	height: 30px;
	border-color: #e6e8e7;
}
.mui-numbox button,.mui-numbox input {
	float: left;
}
.mui-numbox .mui-input-numbox,
.mui-numbox .mui-numbox-input {
	color: #3c4854;
	font-size: 14px;
	line-height: 28px;
	border-color: #e6e8e7!important;
}
.mui-numbox [class*=btn-numbox]:active, .mui-numbox [class*=numbox-btn]:active {
	background-color: #f3812e;
}
.mui-numbox [class*=btn-numbox][disabled], .mui-numbox [class*=numbox-btn][disabled] {
	color: #aaaaaa;
	background-color: #ffffff;
}
.mui-numbox [class*=btn-numbox],
.mui-numbox [class*=numbox-btn] {
	color: #f3812e;
	background-color: #ffffff;
}
header.white {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 1px;
	border-style: solid;
	border-color: rgba(230, 232, 231, 0);
	box-sizing: content-box;
}
header.white .mui-icon {
	color: #31386d!important;
	width: 24px;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0!important;
	padding: 0!important;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
}
header.white .mui-title {
	color: #ffffff;
}
header.block .mui-icon {
	color: #ffffff!important;
	width: 24px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin: 10px 0!important;
	padding: 0!important;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
}
header.block {
	background-color: rgba(255,255,255,0);
}
footer.mui-bar.mui-bar-tab {
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
/* 卡片模块 */
.cardBox {
	padding: 0 3%;
	overflow: hidden;
	margin-bottom: 4%;
	border-radius: 8px;
	background-color: #ffffff;
}
.itemBox>li {
	font-size: 14px;
	line-height: 46px;
	position: relative;
}
.itemBox:not(.noTitle)>li:first-child {
	color: #3c4854;
	font-size: 16px;
	font-weight: bold;
}
.itemBox>li+li {
	border-top: 1px solid #f3f3f3;
}
.itemBox>li>span {
	float: left;
}
.itemBox>li>span {
	color: #5d5d5b;
	float: left;
}
.itemBox>li>span+div {
	margin-left: 80px;
}
.itemBox>li>div>input {
	font-size: 14px;
	line-height: inherit;
}
/* 选项卡样式修改 */
.mui-segmented-control {
	border: none;
}
.mui-segmented-control .mui-control-item {
	border: none;
}
.mui-bar .mui-segmented-control {
	top: 0;
}
.tab .mui-segmented-control {
	width: 100%;
	table-layout: auto;
}
.tab .mui-segmented-control .mui-control-item {
	width: auto;
	font-size: 12px;
	position: relative;
	color: #222222;
	line-height: 44px;
}
.tab .mui-segmented-control .mui-control-item.mui-active {
	background-color: transparent;
}
.tab .mui-segmented-control .mui-control-item.mui-active:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2.5px;
	border-radius: 2.5px;
	background-color: #6d7ae0;
}
/* 头部搜索 */
.header-search {
	position: absolute;
	top: 0;
	left: 13%;
	width: 74%;
	line-height: 30px;
}
.header-search .header-search-btn.mui-icon {
	color: #969b9c;
	position: absolute;
	top: 8px;
	left: 0;
	padding: 0 10px;
	margin: 0;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	border: none;
	background-color: transparent;
}
.header-search .header-search-btn:before {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.header-search .header-search-text {
	margin: 7px 0;
	height: 30px;
	padding: 5px 10px 5px 34px;
	font-size: 14px;
	border-radius: 30px;
	line-height: 20px;
	background-color: #f1f5f9;
}
.header-search .empty {
	display: none;
	color: #ffffff!important;
	font-size: 18px;
	padding: 0!important;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border-radius: 50%;
	background-color: rgba(0,0,0,0.2);
}
/* 酒店首页 */
.hotel .mui-content {
	padding-top: 0;
}
.hotel .mui-content .mui-scroll {
	padding-top: 44px;
	background: #ffffff url("../images/bg_hotel.jpg") no-repeat top/100%;
}
.hotel .lucencyHead .mui-title {
	color: #ffffff;
}
.hotel .lucencyHead .mui-icon {
	width: 24px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin: 10px 0!important;
	padding: 0!important;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
}
.hotel .lucencyHead .mui-icon.mui-icon-arrowleft:before {
	color: #ffffff;
}
.hotel .search {
	margin: 3% 4%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
	background-color: #ffffff;
}
.hotel .search .mui-segmented-control {
	display: block;
}
.hotel .search .mui-segmented-control .mui-control-item {
	display: inline-block;
	float: left;
	width: 50%;
	position: relative;
	color: #222222;
	line-height: 49px;
	background-color: #F4F4F4;
}
.hotel .search .mui-segmented-control +div {
	padding: 8px 22px;
}
.hotel .search .mui-segmented-control .mui-control-item:first-child {
	border-radius: 0 0 6px 0;
}
.hotel .search .mui-segmented-control .mui-control-item:last-child {
	border-radius: 0 0 0 6px;
}
.hotel .search .mui-segmented-control .mui-control-item.mui-active {
	font-weight: bold;
	border-radius: 0 6px 6px 0;
	background-color: #ffffff;
}
.hotel .search .mui-segmented-control .mui-control-item.mui-active:before {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	content: "";
	display: inline-block;
	width: 17px;
	height: 2px;
	background-color: #5260d0;
}
.hotel .search .inputBox>li {
	padding: 8px 0;
	border-bottom: 1px solid #efefef;
}
.hotel .search .inputBox>li.timeBox {
	height: 58px;
}
.hotel .search .inputBox .address>div:first-child {
	width: 60%;
}
.hotel .search .inputBox .address>div:first-child input,
.hotel .search .inputBox .hotelName>div input,
.hotel .search .inputBox .priceStar>div input {
	color: #3c4854;
	width: 100%;
	padding: 4px 0;
	height: 28px;
	line-height: 20px;
	padding-right: 30px;
	box-sizing: border-box;
}
.hotel .search .inputBox .address>div:first-child input {
	font-weight: bold;
}
.hotel .search .inputBox .priceStar>div a {
	display: block;
}
.hotel .search .inputBox .hotelName>div input,
.hotel .search .inputBox .priceStar>div input {
	font-size: 14px;
}
/*.hotel .search .inputBox .address>div:first-child>span.empty,*/
.hotel .search .inputBox .hotelName>div>span.empty,
.hotel .search .inputBox .priceStar>div>span.empty
 {
	display: none;
	color: #ffffff;
	font-size: 18px;
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border-radius: 50%;
	background-color: rgba(0,0,0,0.2);
}
.hotel .search .inputBox .address>div:last-child {
	width: 40%;
	border-left: 1px solid #efefef;
}
.hotel .search .inputBox .address>div:last-child .location {
	color: #3c4854;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}
.hotel .search .inputBox .address>div:last-child .location>span {
	vertical-align: top;
}
.hotel .search .inputBox .address>div:last-child .location>span:first-child {
	padding: 4px 0;
	width: 20px;
	height: 20px;
	box-sizing: content-box;
	background: url("../images/location.jpg") no-repeat 100%/100%;
}
.hotel .search .inputBox .address>div:last-child .location>span:first-child img {
	width: 100%;
	height: 100%;
}
.hotel .search .inputBox .timeBox>div>p:first-child,
.hotel .search .inputBox .timeBox>span {
	color: #8e9293;
	font-size: 12px;
	line-height: 18px;
	vertical-align: bottom;
}
.hotel .search .inputBox .timeBox>div {
	min-width: 68px;
	display: inline-block;
}
.hotel .search .inputBox .timeBox>div>p:last-child {
	height: 14px;
	line-height: 14px;
}
.hotel .search .inputBox .timeBox>div>p:last-child {
	color: #3c4854;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	margin-top: 3px;
}
.hotel .search .inputBox .timeBox>.numall {
	position: absolute;
	bottom: 8px;
	right: 0;
	color: #545d62;
}
.hotel .search .searchBtn {
	padding: 26px 0 20px;
}
.hotel .search .searchBtn button {
	padding: 0;
	color: #ffffff;
	width: 100%;
	border: none;
	font-size: 16px;
	line-height: 48px;
	border-radius: 24px;
	opacity: 0.9;
	background: linear-gradient(#6d7ae0, #5260d0);
	background: -o-linear-gradient(#6d7ae0, #5260d0);
	background: -moz-linear-gradient(#6d7ae0, #5260d0);
	background: -webkit-linear-gradient(#6d7ae0, #5260d0);
	box-shadow: 0 3px 10px 0 rgba(86,100,210,0.9);
}
.hotel .search .searchBtn button:hover {
	opacity: 1;
}
.hotel .gallery,
.hotel .link {
	margin: 0 4%;
}
.hotel .gallery .mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
	height: 80px;
	border-radius: 8px;
	overflow: hidden;
}
.hotel .gallery .mui-slider .mui-slider-group {
	padding-bottom: 28px;
}
.hotel .gallery .mui-slider-indicator .mui-indicator {
	box-shadow: none;
	border-radius: 6px;
	transition: width 0.3s;
	background-color: #e9e9e9;
}
.hotel .gallery .mui-slider-indicator .mui-active.mui-indicator {
	width: 12px;
	background-color: #2e77ef;
}
/* 价格/星级 */
.hotel .priceStarBox {
	font-size: 14px;
	max-height: 400px;
	padding: 2% 4%;
	background-color: #ffffff;
}
.hotel .priceStarBox .popBox p {
	line-height: 36px;
	color: #3c4854;
}
.hotel .priceStarBox .popBox p .jiageNum {
	color: #606ed8;
	margin-left: 2%;
}
.hotel .priceStarBox .popBox ul li {
	color: #545d62;
	width: 23.8%;
	padding: 6px 0;
	font-size: 12px;
	margin-right: 1.6%;
	margin-bottom: 1.6%;
	float: left;
	text-align: center;
	border-radius: 5px;
	background-color: #f2f2f4;
}
.hotel .priceStarBox .popBox ul.jiage li {
	line-height: 24px;
}
.hotel .priceStarBox .popBox ul.jiage li.active,
.hotel .priceStarBox .popBox ul.xingji li.active {
	color: #606ed8;
	background-color: #f2f3fb;
}
.hotel .priceStarBox .popBox ul.xingji li {
	position: relative;
	line-height: 16px;
	height: 56px;
	padding: 4px 0;
	overflow: hidden;
}
.hotel .priceStarBox .popBox ul.xingji li>span {
	position: absolute;
	top: 50%;
	left: 5px;
	right: 5px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	max-height: 48px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.hotel .priceStarBox .popBox ul.xingji li.active:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	border: 12px solid #606ed8;
	border-top-color: #f2f3fb;
	border-left-color: #f2f3fb;
}
.hotel .priceStarBox .popBox ul.xingji li.active:after {
	color: #ffffff;
	content: '\e750';
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	font-family: "iconfont";
	position: absolute;
	right: 0;
	bottom: 0;
}
.hotel .priceStarBox .popBox ul li:nth-child(4n) {
	margin-right: 0;
}
.hotel .priceStarBox .btnBox {
	display: flex;
	padding-top: 2%;
}
.hotel .priceStarBox .btnBox button {
	flex: 1;
	line-height: 1.6;
	border-radius: 5px;
}
.hotel .priceStarBox .btnBox button.mui-btn-outlined:active {
	opacity: 0.8;
	background-color: #f2f2f4;
}
.hotel .priceStarBox .btnBox button.mui-btn-royal {
	border-color: #606ed8;
	background-color: #606ed8;
}
.hotel .priceStarBox .btnBox button+button {
	margin-left: 3%;
}
/* 模块标题 */
.moduleTit {
	line-height: 20px;
	position: relative;
	display: inline-block;
}
.moduleTit span {
	padding: 0 2px;
	position: relative;
	font-size: 19px;
	font-weight: 600;
}
.moduleTit:before {
	display: inline-block;
	content: "";
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(86,100,210,0.5);
}
.moduleBox {
	margin: 15px 0;
}
/* 主题推荐 */
.hotel .recommended .moduleTit {
	margin: 0 4%;
}
.party {
	overflow-x: auto;
}
.party ul {
	font-size: 0;
	-webkit-text-size-adjust:none;
	white-space: nowrap;
}
.party {
	padding: 0 4%;
}
.party ul li {
	position: relative;
	display: inline-block;
	width: 92px;
	height: 92px;
	border-radius: 6px;
	overflow: hidden;
	white-space:normal;
}
.party ul li+li {
	margin-left: 4%;
 }
.party ul li p {
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	width: 6em;
	max-height: 54px;
	z-index: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	box-sizing: border-box;
}
.party ul li>a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("../images/gradient_01.png")no-repeat top/100%;
}
.party ul li:nth-child(2n)>a:before {
	background-image: url("../images/gradient_02.png");
}
.party ul li:nth-child(2n+1)>a:before {
	background-image: url("../images/gradient_03.png");
}
/* 猜你喜欢 */
.multiple li {
	float: left;
	width: 47.5%;
}
.multiple li:nth-child(2n) {
	margin-left: 5%;
}
.multiple li .imgBox {
	height: 100px;
	border-radius: 6px;
	overflow: hidden;
}
.multiple li .name {
	width: 100%;
	color: #3c4854;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-top: 6px;
	-webkit-text-size-adjust:none;
}
.multiple li .site {
	color: #8e9293;
	font-size: 12px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.multiple li .price>span {
	color: #ed6c18;
	margin-right: 2px;
	font-size: 16px;
	line-height: 32px;
}
.multiple li .price>span:first-child:before {
	font-size: 10px;
	content: "¥";
}
.multiple li .price>span:first-child:after {
	font-size: 10px;
	content: "\8d77";
}
.multiple li .price>s {
	font-size: 12px;
}
/* 选择城市 */
.selectCity .mui-bar.mui-bar-nav {
	height: 80px;
}
.selectCity .title {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	display: flex;
	height: 36px;
	overflow: visible;
	justify-content: center;
	border-bottom: 1px solid #f1f5f9;
}
.selectCity .title a.mui-control-item {
	color: #222222;
	width: 100px;
	display: flex;
	font-size: 16px;
	height: 36px;
	line-height: 30px;
	justify-content: center;
}
.selectCity .title a.mui-control-item+a.mui-control-item {
	margin-left: 6%;
}
.selectCity .title a.mui-control-item.mui-active {
	position: relative;
	background-color: #ffffff;
}
.selectCity .title a.mui-control-item.mui-active:after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 3px;
	border-radius: 1px;
	background-color: #6d7ae0;
}
.selectCity .title .mui-icon {
	color: #222222;
	position: absolute;
	top: 0;
	right: 4%;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}
.selectCity .title .mui-icon:hover {
	opacity: 0.8;
}
.selectCity .mui-content {
	padding-top: 80px;
}
.selectCity .mui-content dl dt {
	color: #545d62;
	font-size: 12px;
	line-height: 28px;
	padding: 0 6% 0 4%;
	background-color: #f1f5f9;
}
.selectCity .mui-content dl dd {
	color: #545d62;
	font-size: 14px;
	min-height: 38px;
	line-height: 38px;
	margin: 0 4%;
	box-shadow: 0 1px 0 0 #eaeaea;
}
.selectCity .mui-content dl dd.record {
	padding: 3px 0;
}
.selectCity .mui-content dl dd.record>span {
	min-width: 60px;
	float: left;
	padding: 0 10px;
	margin: 3px;
	text-align: center;
	border-radius: 4px;
	background-color: #f2f2f4;
}
.selectCity .mui-content dl dd.active {
	color: #6d7ae0;
}
.selectCity .mui-content dl dd.iconSite:before {
	font-size: 14px;
	margin-right: 4px;
	content: "\e6f8";
	display: inline-block;
	color: #d82525;
}
.selectCity .mui-content .letter {
	position: fixed;
	top: 50%;
	right: 2%;
	width: 20px;
	padding-top: 80px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	z-index: 10;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.selectCity .mui-content .letter li {
	position: relative;
	color: #4d5e6f;
	border-radius: 50%;
}
.selectCity .mui-content .letter li i {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	color: #545d62;
	font-size: 20px;
	width: 40px;
	padding-left: 8px;
	text-align: left;
	line-height: 30px;
	transform: translate(-110%,-50%);
	-webkit-transform: translate(-110%,-50%);
	background: url("../images/letter.png") no-repeat 100%/100%;
}
.selectCity .mui-content .letter li.active {
	color: #ffffff;
	background-color: #5260d0;
}
/* 我的订单 */
.myOrder .mui-bar.mui-bar-tab .mui-tab-item {
	position: relative;
	z-index: 2;
	width: 100%;
	color: #ffffff;
	background-color: #8596a7;
}
.myOrder .mui-bar.mui-bar-tab .mui-tab-item:active .mui-icon,
.myOrder .mui-bar.mui-bar-tab .mui-tab-item:active .mui-icon+.mui-tab-label {
	opacity: .3;
}
#classify {
	padding: 0 4%;
	min-height: 200px;
	background-color: #ffffff;
}
#classify h3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 44px;
}
#classify ul {
	display: flex;
	flex-wrap: wrap;
}
#classify ul>li {
	width: 22%;
	color: #3c4854;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	margin: 0 4% 10px 0;
	border-radius: 14px;
	background-color: #f2f2f4;
}
#classify ul>li:nth-child(4n) {
	margin-right: 0;
}
#classify ul>li.active {
	color: #ffffff;
	background-color: #828ff5;
}
.myOrder .mui-content {
	padding: 44px 4% 50px;
	box-sizing: border-box;
}
.myOrder .mui-content  .mui-scroll {
	width: 92%;
}
.myOrder .orderList {
	padding-top: 4%;
}
.myOrder .orderList>li {
	padding: 0 10px;
	margin-bottom: 4%;
	border-radius: 10px;
	background-color: #ffffff;
}
.myOrder .orderList>li>a {
	display: block;
}
.myOrder .orderList>li h2 {
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #dddddd;
}
.myOrder .orderList>li h2>p:first-child {
	color: #3c4854;
	max-width: 76%;
	font-size: 14px;
	padding-left: 24px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	position: relative;
	box-sizing: border-box;
}
.myOrder .orderList>li h2>p.max_59:first-child {
	max-width: 59%;
}
.myOrder .orderList>li h2>p:first-child:before {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #ffffff no-repeat center/100%;
}
.myOrder .orderList>li.hotelOrder h2>p:first-child:before {
	background-image: url("../images/hotelOrder.jpg");
}
.myOrder .orderList>li.carOrder h2>p:first-child:before {
	background-image: url("../images/carOrder.jpg");
}
.myOrder .orderList>li.ticketsOrder h2>p:first-child:before {
	background-image: url("../images/ticketsOrder.jpg");
}
.myOrder .orderList>li.scenicOrder h2>p:first-child:before {
	background-image: url("../images/scenicOrder.jpg");
}
.myOrder .orderList>li.repastOrder h2>p:first-child:before {
	background-image: url("../images/repastOrder.jpg");
}
.myOrder .orderList>li h2>p:last-child {
	color: #3c4854;
	font-size: 12px;
	font-weight: normal;
}
.myOrder .orderList>li h2>p:last-child .time_icon {
	display: inline-block;
}
.myOrder .orderList>li h2>p:last-child .time_icon:before {
	content: "\f017";
	color: #ed6c18;
	margin-right: 4px;
	font-family: "FontAwesome";
}
.myOrder .orderList>li .orderInfo {
	width: 100%;
	display: flex;
	padding: 5px 6%;
}
.myOrder .orderList>li .orderInfo>div {
	flex: 3;
}
.myOrder .orderList>li .orderInfo>div>p {
	color: #8e9293;
	line-height: 28px;
	font-size: 12px;
}
.myOrder .orderList>li .orderInfo>div>p span {
	display: inline-block;
	margin-right: 6px;
}
.myOrder .orderList>li .orderInfo>p {
	position: relative;
	flex: 1;
}
.myOrder .orderList>li .orderInfo>p>span {
	color: #ed6c18;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.myOrder .orderList>li .orderInfo>p>span:before {
	display: inline-block;
	content: "¥";
	font-size: 10px;
}
.myOrder .orderList>li>.orderbtn {
	padding-bottom: 20px;
}
.myOrder .orderList>li>.orderbtn>a {
	float: right;
}
.myOrder .orderList>li>.orderbtn>a+a {
	margin-right: 10px;
}
.myOrder .orderList>li>.orderbtn button {
	color: #545d62;
	padding: 0 12px;
	font-size: 12px;
	line-height: 24px;
	border-radius: 24px;
	border: none;
	min-width: 60px;
	background-color: #f2f2f4;
}
.myOrder .orderList>li>.orderbtn button.orange {
	color: #ffffff;
	background-color: #fc9918;
}
.myOrder .orderList>li>.orderbtn button.green {
	color: #ffffff;
	background-color: #40c00b;
}
/* 资源详情-酒店 */
.resourceHotel .mui-content {
	background-color: #f1f4f8;
}
.resourceHotel .mui-content>div {
	background-color: #ffffff;
}
.resourceHotel footer a.tab-item {
	width: 30%;
	color: #3c4854;
	height: 50px;
	padding: 5px 0;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}
.resourceHotel footer a.tab-item.mui-active {
	color: #3c4854;
}
.resourceHotel footer a.tab-item:not(:first-child){
	width: 66%;
	float: right;
	padding: 0;
	color: #ffffff;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border-radius: 6px;
	margin: 5px 4% 5px 0;
	background: linear-gradient(#ffac5e, #ed6c18);
	background: -o-linear-gradient(#ffac5e, #ed6c18);
	background: -moz-linear-gradient(#ffac5e, #ed6c18);
	background: -webkit-linear-gradient(#ffac5e, #ed6c18);
}
.resourceHotel footer a.tab-item:not(:first-child)>span {
	font-size: 20px;
	line-height: normal;
	margin-right: 4px;
	vertical-align: middle;
}
.resourceHotel footer a.tab-item:first-child>span {
	position: relative;
	display: inline-block;
	font-size: 24px;
	top: 3px;
}
.resourceHotel footer a.tab-item:first-child>span.active {
	color: #eebf03;
}
.resourceHotel footer a.tab-item>p {
	position: relative;
	top: 2px;
	font-size: 10px;
	line-height: 12px;
}
.resourceHotel footer a.tab-item:nth-child(2) {
	border-left: 1px solid #ffffff;
}
.resourceHotel .lunbo .mui-slider-item {
	position: relative;
	height: 225px;
}
.resourceHotel .lunbo .mui-slider-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.8));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.8));
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.8));
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.8));
}
.resourceHotel .lunbo .lunboTitle {
	position: absolute;
	bottom: 4%;
	left: 5%;
}
.resourceHotel .lunbo .lunboTitle p,
.resourceHotel .lunbo .lunboTitle h4 {
	color: #ffffff;
	line-height: 26px;
}
.resourceHotel .lunbo .lunboTitle h4 {
	font-size: 19px;
}
.resourceHotel .lunbo .lunboTitle p {
	font-size: 15px;
}
.resourceHotel .lunbo .lunboNum {
	color: #ffffff;
	position: absolute;
	bottom: 4%;
	right: 4%;
	padding: 0 10px;
	font-size: 12px;
	line-height: 26px;
	border-radius: 26px;
	background-color: rgba(0,0,0,0.3);
}
.resourceHotel .lunbo .lunboNum:before {
	content: '\f03e';
	margin-right: 3px;
	font-family: "FontAwesome";
}
.resourceHotel .address {
	padding: 12px 4%;
	margin-bottom: 2%;
	color: #8e9293;
	font-size: 12px;
	white-space: nowrap;
	overflow:hidden;
	line-height: 22px;
	text-overflow:ellipsis;
}
.resourceHotel .address:before {
	padding-right: 2px;
	color: #d81e06;
	font-size: 15px;
	line-height: normal;
	content: '\e6f8';
	font-family: "iconfont";
}
.price_time {
	color: #ed6c18;
	padding: 12px 4%;
}
.mark {
	line-height: 44px;
}
.mark:after {
	font-size: 12px;
	padding-left: 2px;
	line-height: normal;
	font-weight: normal;
	content: '\5206\597d\8bc4';
}
.price_time .record {
	color: #aaaaaa;
	font-size: 12px;
	line-height: 44px;
}
.price_time .record:after {
	font-size: 14px;
	content: '\e70c';
	line-height: normal;
	vertical-align: middle;
	font-family: "iconfont";
}
.price_time .hotelTime {
	position: relative;
	color: #5260d0;
	font-size: 14px;
	line-height: 20px;
	height: 52px;
	padding: 6px 4%;
	/*margin: 12px 0 0;*/
	vertical-align: bottom;
	border-radius: 6px;
	background-color: #f3f4fa;
}
.price_time .hotelTime>div>div {
	width: 64px;
	height: 40px;
	float: left;
}
.price_time .hotelTime>div>div span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}
.price_time .hotelTime>div>div i {
	display: block;
	position: relative;
	font-size: 12px;
}
.price_time .hotelTime>div>div.numall {
	position: relative;
	font-size: 12px;
	padding: 0 5px;
	margin: 11px 12px;
	line-height: 20px;
	width: auto;
	min-width: 42px;
	height: 20px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #5260d0;
}
.price_time .hotelTime .across {
	color: #5260d0;
	position: absolute;
	top: 50%;
	left: 4%;
	right: 4%;
	margin-left: 220px;
	text-align: center;
	line-height: 40px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.price_time .hotelTime .across:before {
	display: block;
	content: '';
	width: 1px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background-color: #5260d0;
}
.price_time .hotelTime .across:after {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-size: 14px;
	content: '\e70c';
	font-family: "iconfont";
}
.lump.price_time {
	padding: 0 4%;
}
/* 商品信息 */
.goodsBox {
	padding: 3% 0;
	background-color: #f9fafb;
}
.goodsBox>li {
	position: relative;
	padding: 4%;
	background-color: #ffffff;
}
.goodsBox>li.kong {
	background-color: transparent;
}
.goodsBox>li.kong p:first-child {
	color: #3c4854;
	font-size: 16px;
	line-height: 30px;
}
.goodsBox>li.kong p:last-child {
	color: #8b8b8b;
	font-size: 14px;
	padding-bottom: 10px;
}
.goodsBox>li+li {
	margin-top: 3%;
}
.goodsBox>li>div.goodsImg {
	float: left;
	width: 72px;
	height: 72px;
	border-radius: 8px;
	overflow: hidden;
}
.goodsBox>li>div.goodsInfo {
	max-width: 45%;
	float: left;
	padding-left: 3%;
	box-sizing: border-box;
}
.goodsBox>li>div.goodsInfo a {
	position: relative;
	width: 100%;
	display: block;
	color: #3c4854;
	font-size: 14px;
	white-space: nowrap;
	overflow:hidden;
	padding-right: 8px;
	text-overflow:ellipsis;
}
.goodsBox>li>div.goodsInfo a:after {
	color: #aaaaaa;
	content: '\e70c';
	font-weight: bold;
	position: absolute;
	top: 50%;
	right: -2px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-family: "iconfont";
}
.goodsBox>li>div.goodsInfo p {
	width: 100%;
	display: block;
	color: #8b8b8b;
	font-size: 12px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.goodsBox>li>div.goodsPrix {
	line-height: 30px;
	position: absolute;
	top: 50%;
	right: 3%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.goodsBox>li>div.goodsPrix span {
	color: #ed6c18;
	font-weight: bold;
	font-size: 16px;
	margin-right: 6px;
}
.goodsBox>li>div.goodsPrix span:before {
	content: "¥";
	line-height: normal;
	font-size: 10px;
	font-weight: normal;
}
.goodsBox>li>div.goodsPrix button {
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: none;
	background: linear-gradient(to bottom right,#ffac5e, #ed6c18);
	background: -o-linear-gradient(bottom right,#ffac5e, #ed6c18);
	background: -moz-linear-gradient(bottom right,#ffac5e, #ed6c18);
	background: -webkit-linear-gradient(left top,#ffac5e, #ed6c18);
}
.roomBox {
	left: 0;
	top: 100px;
	overflow: hidden;
	border-radius: 10px 10px 0 0!important;
	background-color: #ffffff!important;
}
.roomBox .mui-scroll-wrapper {
	margin: 0;
	height: 100%;
	padding-bottom: 54px;
}
.roomBox h3 {
	z-index: 3;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	background-color: #ffffff;
}
.roomBox>span {
	color: #ffffff;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 10px;
	right: 4%;
	z-index: 3;
}
.roomBox .imgBox {
	height: 225px;
	overflow: hidden;
}
.roomBox .imgBox+div h4 {
	color: #3c4854;
	font-size: 16px;
	font-weight: normal;
	padding-top: 8px;
	line-height: 30px;
}
.roomBox .imgBox+div p {
	color: #3c4854;
	text-indent: 2em;
	font-size: 14px;
	line-height: 28px;
}
.roomBox .roomBottom {
	padding: 0 0 0 6%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	background-color: #ffffff;
}
.roomBox .roomBottom button,
.roomBox .roomBottom span {
	display: inline-block;
	color: #ed6c18;
	font-size: 18px;
	line-height: 50px;
}
.roomBox .roomBottom button {
	padding: 0;
	color: #ffffff;
	width: 40%;
	float: right;
	text-align: center;
	border: none;
	border-radius: 0;
	background: linear-gradient(#ffac5e, #ed6c18);
	background: -o-linear-gradient(#ffac5e, #ed6c18);
	background: -moz-linear-gradient(#ffac5e, #ed6c18);
	background: -webkit-linear-gradient(#ffac5e, #ed6c18);
}
.roomBox .roomBottom span {
	font-weight: bold;
}
.roomBox .roomBottom span:before {
	font-size: 12px;
	content: "¥";
	margin-right: 2px;
}
.lump {
	padding: 3% 4%;
}
.lump+.lump {
	margin-top: 2%;
}
.lump>div.text,.appraiseTxt {
	min-height: 24px;
	margin-top: 10px;
	color: #688098;
	font-size: 14px;
	line-height: 24px;
}
.lump>div.text span,
.lump>div.text a,
.lump>div.text i {
	display: inline;
}
.lump>.con.up {
	max-height: 72px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.lump .con.up+a.gengduo,
.lump .con+a.gengduo.up {
	display: block;
}
.lump .con+a.gengduo {
	color: #5666e6;
	display: none;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}
.lump .con+a.gengduo:after {
	font-size: 14px;
	margin: 0 2px;
	content: "\e783";
	line-height: normal;
	font-family: "iconfont";
}
.lump .con+a.gengduo.up:after {
	content: "\e782";
}
/* 推广 */
.extendBox .extendBtn {
	position: fixed;
	bottom: 100px;
	right: 6%;
	color: #ffffff;
	width: 60px;
	height: 60px;
	padding: 6px 0;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
	background-color: #5666e6;
	box-sizing: border-box;
	box-shadow: 0 4px 20px 0 rgba(86,102,230,0.6);
}
.extendBox .extendBtn:before {
	font-size: 20px;
	display: block;
	content: "\f1d8";
	line-height: 26px;
	font-family: "FontAwesome";
}
.extendBox .extendBtn>span {
	display: block;
}
.extendBox+.extend {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	bottom: auto;
	width: 80%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	border-radius: 6px;
	background-color: #ffffff;
}
.extendBox+.extend.mui-active {
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.extendBox+.extend h4 {
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	color: #3c4854;
}
.extendBox+.extend .cha {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 26px;
	transform: translate(0,-140%);
	-webkit-transform: translate(0,-140%);
}
.extendBox+.extend>ul {
	padding: 6px 5% 0;
}
.extendBox+.extend>ul>li {
	padding-left: 10px;
	margin-top: 4px;
	position: relative;
	line-height: 20px;
}
.extendBox+.extend>ul>li:before {
	position: absolute;
	top: 10px;
	left: 0;
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #5666e6;
}
.extendBox+.extend>ul>li p {
	color: #8e9293;
	font-size: 12px;
}
.extendBox+.extend>ul>li p span.iconfont {
	color: #333333;
	line-height: 16px;
	margin: 2px 4px;
	padding: 0 5px;
	background-color: #f3f3f3;
}
.extendBox+.extend>ul>li>p>span:first-child {
	color: #5666e6;
	line-height: 26px;
}
.extendBox+.extend>ul>li>p>span:nth-child(2) {
	color: #3c4854;
	font-size: 14px;
	line-height: 26px;
}
.extendBox+.extend>ul>li>div input {
	width: 100%;
	position: relative;
	left: -5px;
	color: #8e9293;
	font-size: 12px;
	padding: 0 8px;
	line-height: 26px;
	margin-bottom: 4px;
	border-radius: 0;
	border: 1px solid #c8ced7;
	background-color: #f1f4f8;
}
.extendBox+.extend>ul>li:last-child {
	height: 80px;
}
.extendBox+.extend a.btnhehuo {
	display: inline-block;
	margin: 20px 20%;
	width: 60%;
}
.extendBox+.extend a.btnhehuo button {
	width: 100%;
	height: 32px;
	border-radius: 32px;
}
.code {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	padding: 5px;
}
/* 酒店-订单填写 */
/*  */
.tip:after {
	content: "\e70c";
	font-weight: bold;
	font-family: "iconfont";
}
.pay {
	line-height: 50px;
	transition: z-index 0s ease 0.3s;
	-webkit-transition: z-index 0s ease 0.3s;
}
.pay.up {
	z-index: 1000;
	transition: z-index 0s;
	-webkit-transition: z-index 0s;
	box-shadow: none!important;
}
.pay>a:first-child {
	max-width: 39%;
	float: left;
	height: 50px;
	padding-left: 6%;
	color: #ed6c18;
	font-size: 18px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight: bold;
}
.pay>a:first-child:before {
	font-size: 12px;
	content: "¥";
	margin-right: 2px;
}
.pay>a:nth-child(2) {
	color: #ffffff;
	width: 40%;
	padding: 0;
	float: right;
	text-align: center;
	background: linear-gradient(#ffac5e, #ed6c18);
	background: -o-linear-gradient(#ffac5e, #ed6c18);
	background: -moz-linear-gradient(#ffac5e, #ed6c18);
	background: -webkit-linear-gradient(#ffac5e, #ed6c18);
}
.pay>a:last-child {
	padding: 0 12px;
	float: right;
	height: 50px;
	font-size: 12px;
	color: #606ed8;
}
.pay>a:last-child:after {
	content: "\e782";
	font-size: 14px;
	margin: 0 2px;
	font-family: "iconfont";
}
.pay.up>a:last-child:after {
	content: "\e783";
}
.roomInfo {
	padding: 0;
	overflow: hidden;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}
.roomInfo>div:not(:last-child) {
	padding: 0 3%;
}
.roomInfo>div:first-child {
	padding-top: 6px;
}
.roomInfo>div:first-child a {
	color: #3c4854;
	font-size: 16px;
	font-weight: bold;
	margin-right: 60px;
	line-height: 24px;
}
.roomInfo>div:first-child>span {
	color: #8e9293;
	position: absolute;
	top: 6px;
	right: 3%;
	font-size: 12px;
	line-height: 30px;
}
.roomInfo>div.time {
	color: #3c4854;
	font-size: 12px;
	margin: 8px 0 10px ;
}
.roomInfo>div.time>span {
	float: left;
	line-height: 19px;
}
.roomInfo>div.time>span:nth-child(2) {
	width: 24%;
	padding-top: 17px;
	text-align: center;
}
.roomInfo>div.time>span:nth-child(2):after {
	display: inline-block;
	content: "";
	height: 1px;
	width: 89%;
	position: absolute;
	top: 26px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background-color: #8e9293;
}
.roomInfo>div.time>span>i {
	display: block;
}
.roomInfo>div.time>span:nth-child(2)>i{
	display: inline-block;
	border-radius: 10px;
	width: 50%;
	min-width: 50px;
	position: relative;
	z-index: 1;
	border: 1px solid #8e9293;
	background-color: #ffffff;
}
.roomInfo>div:nth-child(3) {
	color: #8e9293;
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 20px;
}
.roomInfo>div:last-child {
	padding: 0 3%;
	font-size: 12px;
	line-height: 44px;
	background-color: #f6f6f6;
}
.roomInfo>div:last-child>p {
	color: #3c4854;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 60px;
	padding-left: 16px;
}
.roomInfo>div:last-child>p:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(180deg);
	-webkit-transform: translateY(-50%) rotate(180deg);
	display: inline-block;
	width: 16px;
	height: 16px;
	color: #3199e2;
	font-size: 16px;
	line-height: 16px;
	content: "\e747";
	font-family: "iconfont";
}
.roomInfo>div:last-child>a {
	color: #3199e2;
	position: absolute;
	top: 0;
	right: 3%;
}
/*  */
.cue {
	padding: 4px 3%;
}
.cue>p {
	padding-left: 20px;
	position: relative;
	font-size: 14px;
	line-height: 30px;
}
.cue>p:first-child {
	color: #ff7b05;
}
.cue>p:last-child {
	color: #2ea27b;
}
.cue>p:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: inline-block;
	font-family: "iconfont";
	width: 14px;
	height: 14px;
	content: "\e609";
	font-size: 12px;
	color: #ffffff;
	line-height: 14px;
	text-align: center;
	border-radius: 50%;
	background-color: #ff7b05;
}
.cue>p:last-child:before {
	content: "\e791";
	background-color: #2ea27b;
}
/* 入住信息 */
.check>li:nth-child(4) {
	margin-right: 40px;
}
.check>li:nth-child(3)>div>input {
	padding-right: 40px;
}
.contacts {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 46px;
	background: url("../images/ren.png") no-repeat center/60%;
}
/* 预计到店 */
.toStore {
	height: 46px;
	position: relative;
	display: block;
}
.toStore>span:first-child {
	color: #3c4854;
	line-height: normal;
}
.toStore>span:last-child {
	color: #8e9293;
	font-size: 10px;
	line-height: normal;
}
.toStore:after {
	color: #8e9293;
	position: absolute;
	right: 0;
}
.toStoreBox {
	left: 0;
	top: 100px;
}
.toStoreBox h3 {
	color: #545d62;
	font-size: 14px;
	line-height: 50px;
}
.timeItem {
	font-size: 14px;
	padding: 0 4%;
}
.timeItem li {
	width: 31%;
	color: #545d62;
	margin: 0 3.5% 3.5% 0;
	float: left;
	line-height: 46px;
	text-align: center;
	border-radius: 4px;
	background-color: #f2f2f4;
}
.timeItem li:nth-child(3n) {
	margin-right: 0;
}
.timeItem li.active {
	color: #606ed8;
	background-color: #f2f3fb;
}
/* 退改规则 */
.rule {
	padding: 0 3%;
	color: #8599b3;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
}
/* 明细 */
.detail {
	color: #3c4854;
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	z-index: 999;
	bottom: -100%;
	min-height: 100px;
	max-height: 400px;
	background-color: #FFFFFF;
	transition: bottom 0.3s;
	-webkit-transition: bottom 0.3s;
}
.detail.up {
	bottom: 50px;
}
.detailHead {
	padding-top: 4px;
	position: absolute;
	top: 0;
	left: 4%;
	right: 4%;
	background-color: #ffffff;
}
.detailHead h4 {
	font-size: 16px;
	line-height: 38px;
}
.detailHead>div:last-child span {
	height: 38px;
	margin-left: 4px;
	line-height: 38px;
	vertical-align: middle;
}
.detailHead>div:last-child span:not(:last-child) {
	font-size: 12px;
}
.detailHead>div:last-child span:last-child {
	font-size: 16px;
	color: #ed6c18;
}
.detailHead>div:last-child span:last-child:before {
	font-size: 12px;
	content: "¥";
	margin-right: 2px;
}
.detailHead+div {
	padding: 42px 4% 4px;
	max-height: inherit;
	overflow: scroll;
}
.detailHead+div ul {
	font-size: 12px;
	line-height: 24px;
}
.detailHead+div ul li {
	display: flex;
}
.detailHead+div ul li>span:first-child {
	flex:1;
}
.detailHead+div ul li>span:nth-child(2) {
	flex:2;
	padding-right: 10px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.detailHead+div ul li>span:last-child {
	flex:1;
	text-align: right;
}
.detailHead+div ul li>span:last-child>i:before {
	font-size: 8px;
	content: "¥";
	margin-right: 2px;
}
/* 选择联系人 */
.selectPeople {
	top: 0;
}
.selectPeople .search-div {
	height: 44px;
}
/* 订房必读 */
.reservation.mui-popover.mui-popover-action {
	top: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.reservation.mui-popover.mui-popover-action.mui-active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.reservation header {
	color: #3c4854;
	box-shadow: 0 1px 0 0 #e6e8e7!important;
}
.reservation header>a.mui-icon {
	color: #ffffff;
	width: 24px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin: 10px 0!important;
	padding: 0!important;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
}
.reservation header>h1 {
	font-size: 16px;
	color: #3c4854;
}
.reservation .mui-content {
	margin: 44px 0 0;
	background-color: #ffffff;
}
/* kuai */
.kuai {
	color: #3c4854;
	padding-top: 14px;
}
.kuai>h4 {
	position: relative;
	font-size: 16px;
	line-height: 30px;
	padding-left: 1.2em;
}
.kuai>h4:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	content: "";
	display: inline-block;
	height: 1.2em;
	width: 2.5px;
	background-color: #6370da;
}
.kuai>h4+div {
	font-size: 14px;
	line-height: 28px;
}
/* 联系客服 */
.contact {
	padding: 4%;
	background-color: transparent!important;
}
.contact li+li {
	margin: 2% 0 0;
}
.contact li>a,.contact li>button {
	text-align: center;
	padding: 0;
	color: #5260d0;
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 40px;
	border-radius: 6px;
	border: none;
	background-color: rgba(255,255,255,0.78);
}
.contact li>a:active,
.contact li>button:active {
	opacity: 1;
	color: #5260d0;
	background-color: #ffffff;
}
.mui-backdrop-action.mui-backdrop {
	background-color: rgba(0,0,0,.5);
}
@media (min-width: 500px) {
	.hotel .gallery .mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
		height: 100px;
	}
	.party ul li {
		width: 100px;
		height: 100px;
	}
	.multiple li .imgBox {
		height: 130px;
	}
}